<div class='container col-6 offset-3'>
  <div class='card'>
    <div class='card-header text-capitalize font-weight-bold bg-warning'>Edit Data for <%= @user.first_name %> <%= @user.last_name%> </div>
    <%= form_for @user do |f|%>
    <div class='card-body'>
      <div class='form-group'>
        <label for="first_name" class='col-form-label text-capitalize'>first name</label>
        <%= f.text_field 'first_name', class: 'form-control', id: 'first_name'%>
        <label for="last_name" class='col-form-label text-capitalize'>last name</label>
        <%= f.text_field 'last_name', class: 'form-control', id: 'last_name'%>
        <label for="email" class='col-form-label text-capitalize'>email</label>
        <%= f.text_field 'email', class: 'form-control', id: 'email'%>
        <%= f.submit 'Edit', class: 'btn btn-primary'%>
      </div>
    <% end %>
    </div>
  </div>
</div>