<!DOCTYPE html>
<html>
  <head>
    <title>Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

  <body class='body'>
    <%= render 'layouts/header', locals: {current_user: current_user}%>
      <% flash.each do |type, msg|%>
    <% case type %>
        <% when 'alert' %>
        <div class= "text-center text-light bg-danger rounded"> <%= content_tag :div, msg %> </div>
        <% when 'notice' %>
        <div class= "text-center text-dark bg-warning rounded"> <%= content_tag :div, msg %> </div>
        <% when 'success' %>
        <div class= "text-center text-light bg-success rounded"> <%= content_tag :div, msg %> </div>
    <% end %>
  <% end %>

      <%= yield %>

  </body>
</html>
